.navList {
    display: flex;
    gap: 40px;
    /* margin-bottom: 50px; */
  }
  
  .navListItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
  }
  