.searchContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
}
.wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}
.listResult {
  flex: 3;
}
